#post-126 {
    .entry-header {
        h1 {
            font-size: 2.4rem;
            margin: 0 0 0.5rem 0;
            text-transform: uppercase;
        }
    }
    .entry-content {
        h2 {
            font-size: 2.1rem;
            color: #2f1339;
            margin-bottom: 1.5rem;
            text-transform: uppercase;
        }
    }
}