
.site-footer {
    background: url(../../images/dark-wood@2x.png);
    h2 {
        color: #d99054;
        text-transform: uppercase;
        font-size: 1.5rem;
        line-height: 1.5;
    }
    p {
        color: white;
    }
}

.footer-container {
    display: flex;
}

.contact-info {
    flex-basis: 25%;
    a {
        text-decoration: none;
        color: white;
    }
    a:hover {
        text-decoration: underline;
    }
}

.business-hour {
    flex-basis: 25%;
}

.footer-logo {
    flex-basis: 50%;
}

