.home-hero-banner {
    background: linear-gradient(180deg, rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 url('../../images/home-hero.jpg') top no-repeat;
    background-size: cover;
    height:100vh;
    display: flex;
    justify-content: center;
    height: 275px;
    width: 275px;
    align-items: center;
}