.home-hero-banner {
    background: linear-gradient(180deg, rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 url('../../images/home-hero.jpg') top no-repeat;
    background-size: cover;
    height:100vh;
    display: flex;
    justify-content: center;
    width: 100vw;
    align-items: center;
    margin-bottom: 4.5rem;
}

.shop-list {
    margin-bottom: 4.5rem;
    h1 {
        font-size: 2.5rem;
        margin-bottom: 3.5rem;
        text-align: center;
    }
    .shop-items {
        display: flex;
        justify-content: space-between;
        text-align: center;
        .product-type {
            width: 23.5%;
            border: 1px solid #e1e1e1;
            flex: 0 1 23.5%;
            padding: 1rem;
            border-top-width: 5px;            
            img {
                height: 70px;
                width: 70px;
            }
            .shop-botton {
                background: #248a83;
                color: white;
                padding: 0.75rem 1.5rem;
                text-decoration: none;
                text-transform: uppercase;
                cursor: pointer;
            }
        }
    }
}

.journal-list {
    width: 100%;
}