.home .site-content {
    padding-top: 0;
}
//  banner here !!!!!!!! 
.home-hero-banner {
    background: linear-gradient(180deg, rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 url('../../images/home-hero.jpg') top no-repeat;
    background-size: cover;
    height:100vh;
    display: flex;
    justify-content: center;
    width: 100vw;
    align-items: center;
    margin-bottom: 4.5rem;
}

//  shop list here !!!!!!!!
.shop-list {
    margin-bottom: 4.5rem;
    h1 {
        font-size: 2.5rem;
        margin-bottom: 3.5rem;
        text-align: center;
        text-transform: uppercase;
    }
    .shop-items {
        display: flex;
        justify-content: space-between;
        text-align: center;
        .product-type {
            width: 23.5%;
            border: 1px solid #e1e1e1;
            flex: 0 1 23.5%;
            padding: 1rem;
            border-top-width: 5px;            
            img {
                height: 70px;
                width: 70px;
            }
            .shop-botton {
                background: #248a83;
                color: white;
                padding: 0.75rem 1.5rem;
                text-decoration: none;
                text-transform: uppercase;
                cursor: pointer;
            }
        }
    }
}

//  journal list here !!!!!!!!!!!
.journal-list {
    margin-bottom: 4.5rem;
    h1 {
        font-size: 2.5rem;
        margin-bottom: 3.75rem;
        text-align: center;
        text-transform: uppercase;
    }
    .post-list {
        display: flex;
        justify-content: space-between;
        .post-list-info {
            flex: 0 1 32%;
            border: 1px solid #e1e1e1;
            .thumbnail {
                background-color: #e1e1e1;
                height: 250px;
            }
            .post-brief-info {
                padding: 0.75rem;
                text-transform: uppercase;
                position: relative;
                p {
                    font-size: 0.75rem;
                    margin-bottom: 0;
                }
                h2 {
                    font-size: 1.3rem;
                    margin-bottom: 3.75rem;
                    margin-top: 0;
                    a {
                        color: #248a83;
                        text-decoration: none;
                    }
                }   
            }
            .post-list-button {
                    text-decoration: none;
                    text-transform: uppercase;
                    border: 1px solid #000;
                    padding: 0.75rem 1.5rem;
                    color: black;
                    position: absolute;
                    bottom: 0.75rem;
                    left: 0.75rem;
            }

        }
    }
}


// adventure here !!!!!
