
.site-header {
    width: 100%;
    background: transparent;
    position: fixed;
    padding: 0.5rem 0;
    border-bottom: 1px solid #e1e1e1;
    background-color: hsla(0,0%, 100%, 0.85);
    .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
        .site-branding {
            height: 50px;
            width: 50px;
        }
        .top-menu {
            text-transform: uppercase;
            a{
                color:#248a83;
            }
            li {
                margin-right: 1rem;
            }
        }
    }
}