
.site-content {
    padding-top: 50px;
    .content-area {
        padding: 3rem 0;
        .post {
            margin-bottom: 4.5rem;
            .entry-header {
                position: relative;
                line-height: 0;
                .wp-post-image {
                    width: 100%;
                    height: auto;
                }
                .entry-title {
                    position: absolute;
                    font-size: 2.1rem;
                    background-color: #248a83;
                    margin-top: 2.25rem;
                    max-width: 75%;
                    left: 0;
                    top: 0;
                    padding: 0.75rem 1.5rem;
                    line-height: 1.25;
                    color: white;
                    text-transform: uppercase;
                    a {
                        color: white;
                        text-decoration: none;
                        text-transform: uppercase;
                    }
                }
                .entry-meta {
                    position: absolute;
                    background-color: #248a83;
                    right: 0;
                    bottom: 0;
                    padding: 1rem 1.5rem;
                    text-transform: uppercase;
                    color: white;
                    font-size: 0.9rem;
                }
            }
            .entry-content {
                .BodyA {
                    line-height: 1.75;
                }
            }
        }
    }
}

.comments-link a {
    text-decoration: none;
    color: white;
}

.read-more {
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #000;
    padding: 0.75rem 1.5rem;
    color: #000;
    
}

.entry-footer {
    .cat-links {
        margin-right: 1.5rem;
        display: inline-block;
        text-transform: uppercase;
        a {
            color: #248a83;
            text-decoration: none;
        }
    }
    .tags-links {
        margin-right: 1.5rem;
        display: inline-block;
        text-transform: uppercase;
        a {
            color: #248a83;
            text-decoration: none;
        }
    }
}


.comment-respond {
    h3 {
        font-size: 1.8rem;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
    .comment-form-comment, .comment-form-author, .comment-form-email, .comment-form-url {
        label {
            color: #2f1339;
            font-size: 1.1rem;
            text-transform: uppercase;
            margin-bottom: 0.5rem;
            display: block;
            .required {
                color: #d99054;
            }
        }
        input {
            width: 100%;
        }
    }
    .comment-form-author {
        float: left;
        width: 49%;
        padding-right: 1%;
    }
    .comment-form-email {
        float: right;
        width: 49%;
        padding-left: 1%;
    }
    .form-submit {
        .submit {
            font-size: 0.9rem;
            background: #248a83;
            border: none;
            border-radius: 0;
            padding: 0.75rem 1.5rem;
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            box-shadow: none;
            cursor: pointer;
        }
    }
}

input, textarea {
    color: #666;
    background-color: #f4f4f4;
    border: 1px solid #e1e1e1;
    border-radius: 0;
}


.about_image {
    height: 100vh;
    width: 100%;
}